@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700');

body {
  font-family: 'Raleway', sans-serif;
}
button {
  &.c-icon {
    padding: 0 10px;
    border-radius: 2px;
  }
}
